
/* {
    box-sizing: border-box;
}
*/

html {
  background-color: #000000;
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.header_wrapper {
  background-color: #1c1c1c;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header_wrapper_right {
  display: flex;
  justify-content: space-between;
}

.header {
  height: 90px;
}
.header-title {
  width: 294px;
  height: 50px;
  color: #FFF;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  margin-left: 20px;
}

.header_nav {
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  margin-top: 20px;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;
  transition: .3s;

}

.nav-item:last-child {
  margin-right: 25px;
}

.nav-item a {
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;  
}

.h2 {
  background-color: #fff;
}

.icon_profile {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  padding: 31 20 31 0;
}

@font-face {
  font-family: Forum;
  src: url("../assets/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}