
/* {
    box-sizing: border-box;
}
*/

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
    /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.h2 {
  background-color: #fff;
}

/* header style start */

.header_wrapper {
  background-color: #0c0c0e;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header_wrapper_right {
  display: flex;
  justify-content: space-between;
}

.header {
  height: 90px;
}

.header-title {
  width: 294px;
  height: 50px;
  color: #ffffff;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.02em;
  margin-left: 20px;
}

.header_nav {
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  margin-top: 20px;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0 15px;
  line-height: 50px;
  transition: .3s;

}

.nav-item:last-child {
  margin-right: 25px;
}

.nav-item a {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;  
}

.icon_profile {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  padding: 31 20 31 0;
}

/* header style end */

/* section welcome style start */

.welcome_wrapper_overlay  {
  display: grid;
  height: 600px;
  align-items: center;
  background: linear-gradient(180deg, rgba(12,12,14,1) 1%, rgba(12,12,14,0.2) 40%);

}

.welcome_wrapper {
  display: grid;
  height: 600px;
  align-items: center;
  background: url(../assets/welcome.png), lightgray 50% / cover no-repeat;
}

.welcome_bg {
  width: 600px;
  height: 220px;
  flex-shrink: 0;
  background: #0c0c0e;
  margin-top: 60px;
}

.welcome_title_wrapper {
  width: 520px;
  height: 150px;
  padding: 35 40 35 40;
  
}

.welcome_title {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome_title_w {
  margin: 0;
  padding-right: 10px;
  color: #ffffff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* section welcome style end */

/* section about style start */

.about_h2 {
color: #0C0C0E;
text-align: center;
margin-top: 20px;
margin-bottom: 0px;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.hr_about {
  width: 50px;
  height: 1px;
  margin-top: 20px;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
}

.about_text {
  color: #000;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 18px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
}

.image_items {
  align-items: center;
}

.image_item {
  width: 450px;
  height: 560px;
  flex-shrink: 0;

}

.image_item:first-child {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 21px;
}

.image_item:last-child {
  width: 450px;
  height: 560px;
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 21px;
}

.paginations_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

.paginations {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  cursor: pointer; 
}
  
.carousel_pagination_1{
  background: #BB945F;
  border-radius: 10px;
  margin: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  }

.carousel_pagination{
  align-items: center;
  background: #0C0C0E;
  border-radius: 10px;
  margin: 5px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.carousel_pagination:hover{
  background: #BB945F;
  }

/* section about style end */

@font-face {
  font-family: Forum;
  src: url("../assets/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}