
/* {
    box-sizing: border-box;
}
*/


@font-face {
  font-family: Forum;
  src: url("../assets/fonts/Forum-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

html {
  background-color: #0C0C0E;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; padding: 0;

}

.wrapper {
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-bottom: 7px;
}

.h2 {
  background-color: #fff;
}


/* modal_Log_In */
.modal_Log_In {
  display: none;
  width: 250px;
  height: 262px;
  background: #FFF;
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 150;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-evenly;

}

.modal_Log_In_active {
  display: flex;

}

.blackout {
  background: rgba(5, 5, 5, 0.5);
  position: fixed;
  transition: all 1s;
  z-index: 100;
  opacity: 0;
  left: 0;
  top: 0;
}

.blackout_active {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.modal_Log_In_title {
  color: #000;
  margin-left: 97px;
font-family: Forum;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 100% */
letter-spacing: 0.4px;
text-transform: uppercase;
}



.modal_Log_In_end {
  color: #000;
text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 25px;
}

.modal_Log_In_end_p {
  color: #0C0C0E;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
text-decoration-line: underline;
margin-left: 10px;
}

.authorization {
  width: 200px;
height: 20px;
flex-shrink: 0;
border: 1px solid #BB945F;
margin-bottom: 10px;
}

.last {
  margin-bottom: 15px;
}

.modal_Log_In_form {
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal_Log_In_form_field_t {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.3px;
  margin-bottom: 10px;

}

.modal_Log_In_form_field {
  display: flex;
    flex-direction: column;
}

.modal_Log_In_close {
  position: relative;
  cursor: pointer;
  left: 58px;
  bottom: 7px;
}

/* header style start */

.header_wrapper {
  background-color: #0c0c0e;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header_wrapper_right {
  display: flex;
  justify-content: space-between;
}

.header {
  height: 90px;
}

.header-title {
  width: 294px;
  height: 50px;
  color: #ffffff;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.02em;
  margin-left: 20px;
}

.header_nav {
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  margin-top: 20px;
}

.nav-list {
  list-style: none;
}

.nav-link {
  padding: 0px 15px;
  line-height: 50px;
  transition: .3s;

}

.nav-item:last-child {
  margin-right: 25px;
}

.nav-item a {
  color: #ffffff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 250% */
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;  
}

.icon_profile {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  padding: 31px 20px 31px 0px;
  cursor: pointer;
}

.header_burger {
  width: 32px;
  height: 32px;
  position: relative;
  top: 29px;
  display: none;
  cursor: pointer;
}

.header_burger.burger_sd {
  display: none;
}

.burger_line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0px;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}


.header_burger_close {
  width: 32px;
  height: 32px;
  position: relative;
  top: 29px;
  display: none;
  cursor: pointer;
  transition: .2s;
}

.header_burger_close_line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0px;
  top: 50%;
}

.header_burger_close_line:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.header_burger_close_line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}



.menu_profile_no_Auth {
  width: 80px;
  height: 115px;
  background: #FFF;
  position: relative;
  right: 33px;
  display: none;
}

.menu_profile_no_Auth_active {
  display: flex;
  flex-direction: column;
  cursor: default;
  align-items: center;
  justify-content: space-evenly;
}

.menu_profile_no_Auth_title {
  color: #000;
  font-size: 15px;
  font-family: Inter;
  font-weight: 700;
  font-style: normal;
  line-height: 20px; /* 133.333% */
  margin: 0;
  margin-bottom: 5px;
}

.menu_profile_no_Auth_title::after {
  width: 40px;
  height: 1px;
  display: block;
  content: '';
  background: #BB945F;
  margin: 5px auto 0 auto;
}

.menu_profile_no_Auth_text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  margin: 0;
}

.menu_profile_no_Auth_text:hover{
  color: #BB945F;
  cursor: pointer;
}


/* header style end */

/* section welcome style start */

.welcome_wrapper_overlay  {
  display: grid;
  height: 600px;
  align-items: center;
  background: linear-gradient(180deg, rgba(12,12,14,1) 1%, rgba(12,12,14,0.2) 40%);

}

.welcome_wrapper {
  display: grid;
  width: 100%;
  height: 600px;
  align-items: center;
  background: url(../assets/welcome.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome_bg {
  width: 600px;
  height: 220px;
  flex-shrink: 0;
  background: #0c0c0e;
  margin-top: 60px;
}

.welcome_title_wrapper {
  width: 520px;
  height: 150px;
  padding: 35px 40px 35px 40px;
  
}

.welcome_title {
  margin: 0;
  color: #ffffff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.welcome_title_w {
  margin: 0;
  padding-right: 10px;
  color: #ffffff;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* section welcome style end */

/* section about style start */

.about {
  display: flex;
  flex-direction: column;
 min-width: 0;
}

.about_h2 {
color: #0C0C0E;
text-align: center;
margin-top: 20px;
margin-bottom: 0px;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 100% */
letter-spacing: 2px;
text-transform: capitalize;
}

.hr_about {
  width: 50px;
  height: 1px;
  margin-top: 20px;
  align-items: center;
  flex-shrink: 0;
  background: #0C0C0E;
}

.about_text {
  color: #000;
  text-align: center;
  margin-top: 30px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  }

.swiper {
  max-width: 1400px;
}

.swiper-pagination {
  position: static !important;
  display: flex;
  justify-content: center;
  padding-top: 36px;
}


.carousel_pagination {
  display: inline-flex;
  margin-left: 6px;
  border: 1px solid #0c0c0e;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0c0c0e;
  cursor: pointer;
}

.carousel_pagination_active {
  display: inline-flex;
  margin-left: 6px;
  border: 1px solid #BB945F;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #BB945F;
  cursor: default;
  }

.carousel_pagination:hover {
  display: inline-flex;
  margin-left: 6px;
  border: 1px solid #BB945F;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #BB945F;
  }

  .carret_left{
    padding-top: 35px;
    display: none;
    width: 24px;
    height: 24px;
  }
  
  .carret_right {
    padding-top: 35px;
    display: none;
    width: 24px;
    height: 24px;
  }
.slider_navigation {
  display: none;
}

/* section about style end */

/* section favorites style start */

.favorites {
  margin-top: 35px;
}

.favorites_h2 {
  color: #0C0C0E;
  font-family: Forum;
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 25px;
}



.pick {
  color: #000;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  padding-left: 20px;
  margin: 0;
  padding-top: 30px;
}


.radio_wrapper {
  padding-left: 20px;
  padding-top: 40px;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
}

.radio_d {
  width: 175px;
  padding-right: 90px;
  cursor: pointer;
}

.radio_dwin {
  width: 104px;
  cursor: pointer;
}

.radio_dspr {
  width: 102px;
  cursor: pointer;
}

.radio_dsum {
  width: 120px;
  cursor: pointer;
}

.radio_daut {
  width: 116px;
  cursor: pointer;
}


.input_r {
  appearance: none;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
  margin-right: 20px;
  position: relative;
  top: 4px;
  cursor: pointer;
}

input:checked {
  width: 17px;
  height: 17px;
  background: url(../assets/svg/radio_check.svg) 0 0 no-repeat;
  border-radius: 17px;
  border: 0;
  cursor: pointer;
}

input:checked + label {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}


.season_name {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-right: 86px;
}

.season_name1 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  cursor: pointer;
}

.books_main {
  margin-top: 40px;
}

.books_line1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;

}

.books_line2 {
  display: flex;
  justify-content: space-between;

}

.books_line3 {
  display: none;
  justify-content: space-between;
  margin-bottom: 41px;

}

.books_line4 {
  display: none;
  justify-content: space-between;

}

.books_line5 {
  display: none;
  justify-content: space-between;
  margin-bottom: 41px;
}

.books_line6 {
  display: none;
  justify-content: space-between;
}

.books_line7 {
  display: none;
  justify-content: space-between;
  margin-bottom: 41px;

}

.books_line8 {
  display: none;
  justify-content: space-between;


}


@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes eni {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.book_wrapper {
  position: relative;
  width: 590px;
  height: 555px;
  padding-left: 20px;
  padding-right: 20px;
}

.book_img {
  position: absolute;
  right: 20px;
  bottom: -2px;
}

.book_main {
  width: 550px;
  height: 555px;
  border: 1px solid #000;
}

.book_cat {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-left: 19px;
  margin: 0;
  padding-top: 15px;
}

.book_cat::after {
  width: 60px;
  height: 1px;
  display: block;
  position: relative;
  bottom: 1px;
  flex-shrink: 0;
  content: '';
  background: #BB945F;
}

.book_name {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 18px;
  margin: 0;
}

.book_autor {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-left: 19px;
  margin: 0;
}

.book_text {
  width: 357px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-left: 19px;
  padding-top: 20px;
  margin: 0;
}

.book_button {
  position: absolute;
  left: 40px;
  bottom: 15px;
}

.buy {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

.buy:hover {
  border: 1px solid #BB945F;
  background: #BB945F;
  cursor: pointer;
}

.own {
  width: 75px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 2px;
  border: 1px solid #BB945F;
  color: #BB945F;
  background-color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
}

/* section favorites style end */

/* coffeeshop style start */

.coffeeshop {
  padding-top: 42px;
}

.coffeeshop_h2 {
  color: #0C0C0E;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-top: 18px;
  margin: 0;
}

.cs_text {
  max-width: 1400px; 
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
}

.cs_text_pi {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: none;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.menu_wrapper {
  display: flex;
  justify-content: space-between;
}

.coffee_menu_wrapper {
  padding: 0 20px;
}

.coffee_menu_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

}

.desserts_menu_wrapper {
  padding-right: 20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 40px;
}

.cs_menu_title {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cs_menu_title_r {
  color: #BB945F;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: right;
}

.cs_menu_item {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  padding-bottom: 40px;
}

.cs_menu_name {
  width: 199px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cs_menu_name_r {
  width: 240px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: right;
}


.cs_menu_line::after {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  background: #BB945F;
}

.cs_menu_price {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

/* coffeeshop  style end */

/* contacts style start */

.contacts_h2 {
  color: #0C0C0E;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 0;
  padding-top: 19px;
}

.contacts_wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
}

.contact_info_title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
  padding-bottom: 20px;
}

.contact_info_title_senior {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

}

.contact_text {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
  margin: 0;
  padding-bottom: 20px;
}

.contact_link {
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.tel_link {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
}

.tel_link:hover {
  color: #BB945F;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
}


.contact_link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #BB945F;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.map_img {
  width: 696px;
  height: 414px;
  margin-top: 20px;
  margin-left: 40px;
}
/* contacts   style end */

/* librarycard style start */

.librarycard {
  padding-bottom: 30px;
}

.librarycard_h2 {
  color: #0C0C0E;
  text-align: center;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;  
  margin: 0;
  margin-top: 55px;
}

.librarycard_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.find_library {
  align-items: center;
  width: 600px;
  flex-shrink: 0;
  padding-left: 20px;
}

.find_title {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 30px;

}

.white_bg {
  width: 595px;
  height: 383px;
  flex-shrink: 0;
  border: 3px solid #BB945F;
  background: #FFF;
  box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
}

.gold_bg {
  width: 560px;
  height: 272px;
  flex-shrink: 0;
  margin-left: 17px;
  margin-top: 17px;
  background: #BB945F;

}

.gold_bg_title {
  color: #000;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  padding-left: 20px;
  margin: 0;
  padding-top: 20px;
}

.find_gold_name {
  width: 500px;
  height: 64px;
  border: 0px;
  border-radius: 10px;
  background-color: #fff;
  color: #BB945F;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  padding-left: 20px;
}

.find_gold_name::placeholder {
  width: 182px;
  height: 50px;
  color: #8E8E8E;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.find_gold_form {
  margin: 0;
  padding-top: 14px;
  padding-left: 20px;
}

.find_gold_form2 {
  margin: 0;
  padding-top: 25px;
  padding-left: 20px;
}


.b_find_gold_form {
  height: 40px;
  margin: 0;
  padding-top: 85px;
}

.l_find_gold_name {
  padding-top: 20px;
  margin: 0;
}

.check_card {
  width: 242px;
  height: 44px;
  color: #0C0C0E;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  background-color: #fff;
  transition: 0.5s;
}

.chech_card_d {
  margin: 0;
  padding-left: 179px;
  padding-top: 20px;
}

.check_card:hover {
  border: 1px solid #BB945F;
  background: #BB945F;
  cursor: pointer;
}

.get_reader {
  width: 456px;
  height: 253px;
  flex-shrink: 0;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.get_title {
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: right;
}

.get_text {
  margin: 0;
  padding-top: 5px;
  color: #000;
  text-align: right;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 0.4px;  
}

.get_button {
  display: flex;
  padding-top: 35px;
  float: right;
  column-gap: 20px;
}


/* librarycard   style end */

/* footer style start */
.footer {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  height: 250px;
  text-align: center;
  background-color: #0C0C0E;
  overflow: hidden;
}

.footer_hr {
  margin: 0 auto;
  width: 1400px;
  height: 1px;
  border: 0;
  background-color: #fff;
}

.footer-container {
  width: 100%;
}

.footer_frame {
  height: 140px;

}

.frame_frame {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.frame_frame:first-child {
  padding-top: 20px;
  padding-bottom: 10px;
}

.social_list {
  width: 102px;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
}

.social_a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.social_svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.social_svg:hover {
  opacity: 0.33;
}

.footer_pa {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.footer_par {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  text-align: right;
}

.footer_pal {
  color: #FFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  text-align: left;
}

.footer_rss {
  height: 109px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col { 
  align-content: center;
}

.col:first-child {
  padding-left: 20px;
}

.col:last-child {
  padding-right: 20px;

}

.footer_p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
}

.footer_a {
  text-decoration: none;
}

.footer_a:hover {
  color: #FFF;
  text-decoration: underline; 
}
/* footer style end */

@media only screen and (max-width: 1360px) {
.image_items_wrapper_2 {
  display: none;
}

.image_items_wrapper_3 {
  display: none;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

  .slider_navigation {
    position: relative; 
    justify-content: space-between;
    align-items: center;
    width: 85%;
    transform:translateY(-303px) translateX(50px);
    z-index: 11;
    display: flex;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-button-prev::after {
    display: none;
  }

  .paginations_wrapper {
    display: none;
  }
  
  .paginations_wrapper_1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  .image_items {
    align-items: center;
  }
}

@media only screen and (max-width: 1280px) {
  .contacts_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .radio_wrapper {
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: #FFF;
  }

  .books_line1 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line2 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line3 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line4 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line5 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line6 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line7 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .books_line8 {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }


}


@media only screen and (max-width: 1100px) {
  .librarycard_wrapper {
    justify-content: center;
  }
}

@media only screen and (max-width: 1054px) {
  .header_burger {
    display: block;
    right: 26px;
    z-index: 998;
  }

  .header_burger_123 {
    display: none;
  }

  .header_nav {
    display: flex;
    width: 332px;
    height: 570px;
    flex-shrink: 0;
    position: fixed;
    background-color: #0C0C0E;
    top: 0;
    right: 0;
    z-index: 990;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: .4s all linear;
    
  }

  .header_nav_active {
    transform: translateX(0);
    display: flex;
  }

  .header_burger_close_active {
    display: block;
    z-index: 999;
    right: 26px;
  }

  .nav {
    margin-top: 30px;
  }

  .icon_profile {
    z-index: 991;
    margin-right: 52px;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 30px;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-list {
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }


.menu_profile_no_Auth {
  right: 78px;
}




}

@media only screen and (max-width: 1024px) {

  .about_text {
    max-width: 728px;
    align-self: center;
  }

  .image_items {
    padding-bottom: 16px;
  }

  .menu_wrapper {
    flex-direction: column;
  }

  .cs_menu_item {
    justify-content: right;
  }

  .cs_menu_title_r {
    margin-top: 0px;
  }
  .map_img  {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

}

@media only screen and (max-width: 768px) {
  .contacts_wrapper {
    align-items: baseline;
    padding-left: 0px;
  }

  .contact_wrapper {
    padding-left: 20px;
  }

  .contact_map {
    margin-top: 80px;
    align-self: center;
  }

  .map_img  {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .pick_wrapper {
    padding-left: 20px;
  }

  .pick {
    padding-left: 0px;
  }

  .cs_text {
    padding-left: 0px;
  }

  .cs_text_pi {
  padding-left: 6px;
  }

  .coffee_menu_wrapper {
    padding-left: 20px;
  }

  .desserts_menu_wrapper {
    padding-right: 20px;
  }

  .cs_menu_title_r {
    padding-right: 5px;
  }

  .find_library {
    padding-left: 0;
  }

  .get_reader {
    align-items: center;
    padding-right: 0;
    width: 600px;
    height: 223px;
  }

  .get_title {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .get_text {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 40px;
  }

  .get_button {
    padding-top: 0;
  }

  .wrapper {
    padding-bottom: 28px;
  }

.swiper-pagination {
  padding-top: 26px;
}

}

@media only screen and (max-width: 644px) {

  .book_wrapper {
    max-width: 590px;
    width: 570px;
  }

}